<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ePrescriptions EGAP 16</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="css/custom.css">
</head>
<body>

    <header>
        <div class="logo">
            <span class="title">Rx</span>
            <span class="desc">e-Prescribing</span>
        </div>
    </header>

    <section>
        <header>
            Database
            <div class="delimiter"></div>
        </header>
        <section class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-default">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Patient</th>
                                <th>Doctor</th>
                                <th>Date</th>
                                <th>Medications</th>
                                <th width="300px">Actions</th>
                            </tr>
                            </thead>
                            <tr>
                                <td>1</td>
                                <td>Max Blox</td>
                                <td>Greg Watson m.d.</td>
                                <td>12.01.2012 06:00</td>
                                <td>Kubernetes, Amazon WS, Az...</td>
                                <td>
                                    <div class="btn-group btn-group-justified" role="group">
                                        <div class="btn-group" role="group">
                                            <a role="button" class="btn btn-primary" href="prescription.html">Open</a>
                                        </div>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-info">Send email</button>
                                        </div>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-warning">QR Code</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Max Blox</td>
                                <td>Greg Watson m.d.</td>
                                <td>12.01.2012 06:00</td>
                                <td>Kubernetes, Amazon WS, Az...</td>
                                <td>
                                    <div class="btn-group btn-group-justified" role="group">
                                        <div class="btn-group" role="group">
                                            <a role="button" class="btn btn-primary" href="prescription.html">Open</a>
                                        </div>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-info">Send email</button>
                                        </div>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-warning">QR Code</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Max Blox</td>
                                <td>Greg Watson m.d.</td>
                                <td>12.01.2012 06:00</td>
                                <td>Kubernetes, Amazon WS, Az...</td>
                                <td>
                                    <div class="btn-group btn-group-justified" role="group">
                                        <div class="btn-group" role="group">
                                            <a role="button" class="btn btn-primary" href="prescription.html">Open</a>
                                        </div>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-info">Send email</button>
                                        </div>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-warning">QR Code</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-md-offset-9">
                    <a role="button" class="btn btn-success btn-block" href="prescription-new.html">New prescription</a>
                </div>
            </div>
        </section>
    </section>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</body>
</html>