<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ePrescriptions EGAP 16</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="css/custom.css">
</head>
<body>

    <header>
        <div class="logo">
            <span class="title">Rx</span>
            <span class="desc">e-Prescribing</span>
        </div>
    </header>

    <section>
        <header>
            Prescription Details
            <div class="delimiter"></div>
        </header>
        <section class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-default">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Prescription ID</th>
                                <td>#1233123</td>
                            </tr>
                            <tr>
                                <th>Issue date</th>
                                <td>20.02.2012 16:40</td>
                            </tr>
                            <tr>
                                <th>Patient Name</th>
                                <td>Greg Chory</td>
                            </tr>
                            <tr>
                                <th>Patient Address</th>
                                <td>125 FAREWELL AVE, APT 12 <br/> 60625 CHICAGO</td>
                            </tr>
                            <tr>
                                <th>Doctor Name</th>
                                <td>John Chory <strong>m.d.</strong></td>
                            </tr>
                            <tr>
                                <th>Dispense Type</th>
                                <td><span class="label label-success">Full Refund</span></td>
                            </tr>
                            <tr>
                                <th>Assignation Type</th>
                                <td><span class="label label-danger">Adult</span></td>
                            </tr>
                            <tr>
                                <th>Medications</th>
                                <td>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <span class="badge">2</span>
                                            <h4 class="list-group-item-heading">Kubernetes</h4>
                                            <p class="list-group-item-text">Kubernetes Description</p>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge">1</span>
                                            <h4 class="list-group-item-heading">Amazon WS</h4>
                                            <p class="list-group-item-text">Amazon WS Description</p>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>QR Code</th>
                                <td><img src="http://www.appcoda.com/wp-content/uploads/2013/12/qrcode.jpg" width="256px"></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button type="button" class="btn btn-info btn-block">Send email with prescription to Patient</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <ol class="breadcrumb">
                        <li><a href="#" onclick="history.go(-1);">Database</a></li>
                        <li class="active">Perception #1233123</li>
                    </ol>
                </div>
            </div>
        </section>
    </section>



    <section class="container-fluid">

    </section>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">



            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</body>
</html>